.tab-header{
    display:inline-block;
    padding:0 10px;
    width:auto;
    line-height:40px;
    color:#888;
    width:100%;
    text-align:center;
    cursor:pointer;
    border:5px dashed #eee;
    border-left:0;
    border-right:0;
    transition:0.3s;
}
.tab-header:first-child{
    border-left:5px dashed #eee;
}
.tab-header:last-child{
    border-right:5px dashed #eee;
}
.tab-header:hover{
    color:#000;
    border-color:#333;
}
.tab-header.active{
    color:#000;
    border-color:#000;
}